

.transcriptionTarjeta {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95%;
  border: 1px solid #ccc !important;
  margin: 15px;
  color: #222;
}

.transcriptionTarjeta.noche {
  background-color: #222;
  color: #fff;
  border: 1px solid #555 !important;
}

.transcriptionTarjeta.noche h3,
.transcriptionTarjeta.noche p {
  color: #fff;
}


