.transcriptionTarjeta {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff; /* contraste con el fondo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%; 
  max-width: 300px; /* para que no se estiren de más */
}